<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author.name%>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<h3>Comments</h3>
<% @post.comments.each do |comment| %>
  <pre><%= comment.comment %></pre>
<% end %>

<%= link_to 'Comment', new_comment_path %> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
